<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.scorpio92.vkmd2">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_music_note_black_24dp" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>

        <activity
            android:name=".presentation.old.view.activity.AuthActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.old.view.activity.SyncActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".presentation.old.view.activity.MusicActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".presentation.old.view.activity.DownloadManagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:parentActivityName=".presentation.old.view.activity.MusicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.old.view.activity.MusicActivity" />
        </activity>

        <activity
            android:name=".presentation.old.view.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".presentation.old.view.activity.MusicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.old.view.activity.MusicActivity" />
        </activity>

        <activity
            android:name=".presentation.old.view.activity.FaqActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".presentation.old.view.activity.MusicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.old.view.activity.MusicActivity" />
        </activity>

        <service
            android:name=".service.AudioService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.SyncService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="ru.scorpio92.vkmd2.receiver.AudioServiceNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="VKMD2.AUDIO_SERVICE.PREV" />
                <action android:name="VKMD2.AUDIO_SERVICE.PLAY_PAUSE" />
                <action android:name="VKMD2.AUDIO_SERVICE.NEXT" />
                <action android:name="VKMD2.AUDIO_SERVICE.STOP" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ru.scorpio92.vkmd2.receiver.DownloadServiceNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="VKMD2.DOWNLOAD_SERVICE.START_PAUSE" />
                <action android:name="VKMD2.DOWNLOAD_SERVICE.STOP" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ru.scorpio92.vkmd2.receiver.LockScreenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.FirebaseIIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.FirebaseMsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>